<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org/">

<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css">
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"></script>
<link rel="stylesheet" href="/css/font-awesome.min.css"/>
<body>
<div class="card">
   <div class="card-header">
      All Events
   </div>

   <div class="list-group list-group-flush" th:each="event:${events}">
      <a href="#" class="list-group-item list-group-item-action" >Event Name</a>
      <a href="#"  class="list-group-item list-group-item-action">A second item</a>
      <a href="#"  class="list-group-item list-group-item-action">A third item</a>
   </div>
</div>
<form method="post">
   <input type="text" th:field="${event.name}">Event Name</input>
   <input type="text" th:field="${event.date}">Date</input>
   <input type="text" th:field="${event.start}">Start Time</input>
   <input type="text" th:field="${event.end}">EndTime</input>
   <input type="text" th:field="${event.attending}">Attending</input>
   <input type="text" th:field="${event.category.name}">Event Type</input>
   <input type="submit" value="CreateEvent">
</form>
<table>
   <thead class="table table-bordered table-dark">
   <tr th:each="event: ${events}">
      <td th:text="${event.id}">Id</td>
      <td th:text="${event.name}">Name</td>
      <td th:text="${event.date}">Date</td>
      <td th:text="${event.attending}">Attending</td>
      <td th:text="${event.start}">Start Time</td>
      <td th:text="${event.end}">End Time</td>
      <td th:text="${event.category.name}">Event Category</td>
   </tr>
   </thead>
</table>
</body>

</html>