<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org/">
<head th:replace="fragments :: head"></head>
<body class=""container>

<header th:replace="fragments :: header"></header>
<table>
   <thead class="table table-bordered table-dark">


   <tr th:each="event: ${events}">
      <td th:field="${event.id}">Id</td>
      <td th:field="${event.name}">Name</td>
      <td th:field="${event.date}">Date</td>
      <td th:field="${event.attending}">Attending</td>
      <td th:field="${event.start}">Start Time</td>
      <td th:field="${event.end}">End Time</td>
      <td th:field="${event.category.name}">Event Category</td>
   </tr>
   </thead>
</table>

</body>
</html>