<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org/">
<head>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css">
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"></script>
    <link rel = "stylesheet" type = "text/css" th:href = "@{/css}"/>
</head>
<body class="container">
<h1>Virtual Events</h1>
<div class="img-event"></div>
<nav>


<a href="events/create"> <button type="submit" value="create-event">Create event</button></a>

</nav>
</body>
</html>